</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@300;600&display=swap"
    rel="stylesheet">
  <title>Commande validée</title>
  <script src="https://kit.fontawesome.com/544da27e53.js" crossorigin="anonymous"></script>

</head>

<body>


  <nav class="navbar navbar-light bg-dark">
    <a id="top-logo-page" class="navbar" href="/">
      <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>
  </nav>
  <div id="picture-header"></div>

  <body>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h4>Merci pour votre commande !</h4>
        <p id="text-confirm">Nous vous remercions pour votre commande et espérons que vous avez apprécié votre shopping sur notre site. <br><br>
          Pour suivre la livraison de votre colis, rendez-vous dans votre espace client.
          Dès que votre colis sera remis à notre prestataire de livraison, vous recevrez un e-mail de confirmation
          d’envoi comprenant le numéro de suivi de votre colis.</p>
          <img id="velo-confirm" src="images/giphy.gif" alt="">
      </div>
    </div>
  </body>

</html>