.card {
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
    width: 100%;
}

.trash {
    width: 15px;
    height: 15px;
    margin: 2%;
}

.avatar {
    width: 60px;
    border-radius: 50%;
    margin: 1%;
}

.name {
    font-size: 16px;
    margin-bottom: 1%;
    margin-top: 1%;
}

p {
    text-align: justify;
}

#allpage {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 50vw;
    margin: 20px auto;
    font-weight: 150;
}

body {
    background-color: #f5f6fa;
}

#messageCounter {
    font-weight: 150;
    margin-left: 1%;
}

.compteur {
    display: flex;
    align-items: center;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}

#nombre {
    margin-left: 1%;
    /* font-weight: 150; */
}


#bouton {
    outline: 0;
    padding: 1%;
    border: 2px solid #4D96FF;
    border-radius: 20%;
    color: #4D96FF;
}

#barre {
    padding: 1%;
    width: 100%;
    border-radius: 2%;
    border: 1px solid #000000;
    margin-left: 1%;
    background-color: white;
}

.add-message {
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 2%;
}

.search {
    display: flex;
    gap: 20px;
    padding: 2%;
    width: 70%;
}

#search-message {
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: 1%;
    width: 100%;
}

#search-bouton {
    outline: 0;
    padding: 1%;
    border: 2px solid #4D96FF;
    border-radius: 10%;
    color: #4D96FF;
    background-color: white;
}